---
layout: base.njk
title: Homepage
description: This is sonyTextile's homepage.
---

<main class="background">

    <section class="intro">

        <div class="intro__wrapper">

            <div class="intro__logo">
                <img src="../img/sonyTextile__logo--color.png" alt="Three balls of wool yarn over a light wood background.">
            </div>

            <div class="intro__text">
                <h1>The best lead-times in the textile industry, with the "made in Portugal" quality.</h1>
                <p>
                    From sampling to production, our partners in the clothing industry rely on our expertise in sourcing materials and production units, managing the commercial relationships, and handling all of the logistics. This allows them to focus on what they do best: designing the perfect garment.
                </p>
            </div>

            <div class="intro__contacts">
                <h2 class="intro__contacts__title">Contact us for enquiries:</h2>
                <div class="intro__contacts__content">
                    <p>e-mail: <a href="mailto:info@sonytextile.com">info@sonytextile.com</a></p>
                    <p>phone: <a href="tel:351938028175‬">‭+351 938 028 175‬</a></p>
                </div>
            </div>

        </div>

    </section>
</main>