/* OK Computer,
let's make things a bit more pretty with some CSS rules */

@use 'fix.scss';

html, body {
    height: 100%;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    line-height: 1.1;
}

h2 {
    font-size: 1.8rem;
}

a {
    color: rgb(2, 104, 213);
}

a:active {
    color: rgb(29, 122, 221);
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 1.5rem;
    line-height: 1.4;
}

.background {
    height: 100%;
    background-image: url("../img/background.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.intro {
    max-width: 650px;
    margin: auto;
}

.intro__wrapper {
    margin: 2em;
}

.intro__logo img {
    max-width: 100%;
    width: 400px;
    height: auto;
}


.intro__text {
    background-color: rgba(0, 108, 124, 0.7);
    padding: 2em;
    color: white;
}

.intro__contacts {
    color: rgba(0, 108, 124, 1);
    background-color: rgba(255, 255, 255, .8);
    width: 100%;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: first baseline;
}

.intro__contacts__title {
    margin-right: 1em;
}

.intro__contacts p {
    font-size: 1.3rem;
}